# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
dist/
build/
*.log
*.sqlite3

# Virtual Environment
loan_env/
env/
ENV/
.venv/

# IDEs / Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Streamlit
.streamlit/

# Jupyter Notebook
.ipynb_checkpoints/

# OS Files
.DS_Store
Thumbs.db
